@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  font-size: 5rem;
  margin-top: 4rem;
  color: white;
}

#addTaskBtn,
#resetList {
  border: none;
  font-weight: bold;
}

#addTaskBtn {
  background: rgba(15, 14, 14, 0.856);
}

#addTaskBtn:focus,
#resetList:focus {
  outline: none;
}

.container {
  display: grid;
  place-items: center;
  color: white;
}

.taskShowcase {
  display: grid;
  place-items: center;
}

.taskShowcase > ul > li {
  width: 15rem;
  margin: 5rem;
  padding: 3rem;
  cursor: pointer;
  font-size: 23px;
  list-style-type: none;
}

.taskShowcase > ul > li:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}
.taskShowcase > ul > li:nth-child(2n) {
  background: #fff;
  color: black;
}
