@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  font-size: 5rem;
  color: white;
}
#inputField,
#addTaskBtn,
#resetList {
  border-radius: 0;
  height: 40px;
}

#addTaskBtn:focus,
#resetList:focus {
  outline: none;
}

.taskShowcase {
  display: grid;
  place-items: center;
  color: white;
}

.taskShowcase {
  display: grid;
  place-items: center;
}

.taskShowcase > ul > li {
  width: 25rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
}

.taskShowcase > ul > li:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}
.taskShowcase > ul > li:nth-child(2n) {
  background: #fff;
  color: black;
}
